body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8; /* light gray background */
  background-image: url(fa2bc0dba581c150d6b6be9bea14c8fb_fgraphic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start; /* align items to the left */
  align-items: center;
  height: 100vh;
}

.trust-circle {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1; /* ensure the logo is on top */
}

.trust-circle img {
  width: 60px; /* reduced logo size */
  height: 60px;
  border-radius: 50%; /* circular logo */
}

.form-container {
  color: #333; /* dark text color for better readability */
  display: flex;
  flex-direction: column;
  align-items: center; /* center align form elements */
  padding: 20px;
  background-color: #ffffff; /* white background for form */
  border-radius: 10px; /* rounded corners */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* more prominent shadow */
  width: 350px; /* reduced width for a more compact look */
  max-width: 90%; /* responsive width */
  margin: 40px; /* top and bottom margins */
}

h1 {
  font-weight: 700; /* bolder text */
  margin-bottom: 20px;
  color: #333; /* dark text color for better readability */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* subtle text shadow */
}

label {
  width: 100%;
  display: inline;
  flex-direction: column; /* stack label and input vertically */
  margin-bottom: 15px;
  font-weight: 600; /* bolder text */
  color: #555; /* dark gray text for contrast */
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.1); /* subtle text shadow */
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%; /* full width */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd; /* light gray border */
  border-radius: 5px; /* rounded edges */
  box-sizing: border-box; /* include padding and border in element's total width and height */
  font-weight: 400; /* normal text weight */
}

button[type="submit"] {
  background-color: #007bff; /* primary color */
  color: #fff; /* white text */
  padding: 12px;
  border: none;
  border-radius: 5px; /* rounded edges */
  cursor: pointer;
  font-size: 16px; /* readable font size */
  font-weight: 600; /* bolder text */
  transition: background-color 0.3s ease; /* smooth transition */
  width: 100%; /* full width */
}

button[type="submit"]:hover {
  background-color: #0056b3; /* darker shade on hover */
}

@media (max-width: 600px) {
  .form-container {
    width: 90%; /* adjust form width for smaller screens */
  }
}
